<div class="page-container">
  <section class="header-wrapper">
    <app-header></app-header>
  </section>
  <div class="break-line"></div>
  <div class="content-wrapper">
    <section class="experience-container">
      <h2><i class="fas fa-code-branch"></i> Experience</h2>
      <app-experience></app-experience>
    </section>
    <section class="skills-container">
      <h2><i class="fas fa-cogs"></i> Skills</h2>
      <app-skills></app-skills>
    </section>
    <section class="education-container">
      <h2><i class="fas fa-graduation-cap"></i> Education</h2>
      <app-education></app-education>
    </section>
    <section class="languages-container">
      <h2><i class="fas fa-globe"></i> Languages</h2>
      <app-languages></app-languages>
    </section>
  </div>
</div>

