/*  --- *Primary Colors* ---  */
$primary-light: #258CC7;
$primary-dark: #1c5d79;
$primary: #176ea0;
$baby-blue:#86D6FF;

$link: #0056b3;
$link-hover: #004692;
$print-dark: #3e4b50;

/*  --- *Grey Colors* ---  */
$grey-darken: #8D8D8D;
$grey-dark: #bbbbbb;
$grey-normal: #cccccc;
$grey-light: #dddddd;
$grey-lighter:  #eeeeee;
$grey-bg: #efefef;
$font-grey: #4f4e4d;

/*  --- *White Colors* ---  */
$white: #ffffff;
$medium-white: #fefefe;
$darken-white: #fafafa;
$special-white: #f7f7f7;

/*  --- *Black Colors* ---  */
$black: #161616;
$dark: #242424;
$dark-normal: #373737;
